
:root {
    --bg-color: whitesmoke;
    --accent-color: #E60000;
    --dark-accent-color: #990000;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 7em;
}

body {
    background-color: var(--bg-color);
}

nav {
    background-color: lightgrey;
}

.navbar-brand img {
    max-width: 200px;
}

#search-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-fields input {
    width: 90%;
}

form {
    text-align: center;
}

.dark-transparent {
    background-color: rgba(0, 0, 0, .65);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    color: white;
}

.footer-content > div {
    vertical-align: middle;
}