:root {
    --bg-color: whitesmoke;
    --accent-color: #fc3434;
    --dark-accent-color: #d10000;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 9em;
}

body {
    background-color: var(--bg-color);
}

nav {
    background-color: lightgrey;
}

.navbar-brand img {
    max-width: 200px;
}

.input-group-text {
    background-color: var(--dark-accent-color);
}

.input-group-text>i {
    color: lightgrey;
}

#search-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-fields input {
    width: 90%;
}

form {
    text-align: center;
}

.btn {
    background-color: var(--accent-color);
    border: solid var(--dark-accent-color) 1px;
    color: var(--bg-color);
}

.btn:hover {
    background-color: var(--dark-accent-color);
    border: solid var(--accent-color) 1px;
    color: var(--bg-color);
}

a {
    font-weight: bold;
    color: var(--accent-color);
}

a:hover {
    color: var(--dark-accent-color);
}

.dark-transparent {
    background-color: rgba(0, 0, 0, .8);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    color: white;
}

.footer-content>div {
    vertical-align: middle;
}